<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.zhy.listen">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="prize-mysql" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl"
			value="jdbc:mysql://localhost:3306/listen?useUnicode=true&amp;characterEncoding=GBK&amp;zeroDateTimeBehavior=round" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
		<property name="houseKeepingTestSql" value="select getDate()" />
		<property name="prototypeCount"
			value="5" />
		<property name="maximumConnectionCount"
			value="300" />
		<property name="minimumConnectionCount"
			value="10" />
	</bean>

	<!-- Spring提供的iBatis的SqlMap配置-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/ibatis-config.xml" />
		<property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/>
	</bean>
	
  	<!-- 扫描basePackage下所有以@Repository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.zhy.listen.dao" />
	    <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean> 
	    
</beans>
