@charset "utf-8";
/* CSS Document */
body{
	overflow-x:hide; padding:44px 0 50px 0; background:#f7f7f7;}
*{
	margin:0; padding:0; list-style:none; text-decoration:none;}
@font-face {
    font-family: "DINCond-Bold";
    src: url("../fonts/DINCond-Bold.otf");
}
.colorGreen{ color:#00c9a1;}
.colorOrange{ color:#ff8b02;}
.splitLine{
	position:absolute; width:1px; height:100%; top:0; overflow:hidden; background:#eee;}
/*顶部*/
header{
	height:44px; position:fixed; top:0; left:0; width:100%; background:#00c9a1; z-index:90; box-shadow:rgba(0,0,0,0.1) 0px 1px 0; }
header #logo{
	float:left; width:71px; height:22px; overflow:hidden; position:absolute; top:11px; left:15px;}
header #logo img{
	width:100%; height:100%;}
header #search{ margin:8px 15px 8px 101px; background:#fff url(../images/icon_search.png) no-repeat 10px 8px; border-radius:4px; height:28px; background-size:12px 12px;}
header #search a{
	font-size:12px; color:#c0c0c3; padding-left:30px; line-height:28px; display:block; height:28px;}
header .icon_back{
	height:22px; width:22px; position:absolute; left:15px; top:11px;}
header .icon_back img{
	width:100%; height:100%;}
header h1{height:44px; line-height:44px; text-align:center; overflow:hidden; width:200px; font-size:16px; color:#fff; position:absolute; left:50%; margin-left:-100px;}

/*导航*/
nav#nav{
	height:50px; bottom:0; left:0; width:100%; position:fixed; background:#fff;box-shadow:rgba(0,0,0,0.1) 0px -1px 0;  z-index:200; overflow:hidden;}
nav#nav ul{height:50px; width:100%;}
nav#nav ul li{
	float:left; width:25%; height:50px; overflow:hidden;}
nav#nav ul li a{
	display:block; width:100%; height:100%; font-size:12px; color:#444a4d; text-align:center;}
nav#nav ul li img{
	width:25px; height:25px; display:block; margin:4px auto 5px auto;}
/*选择.selected*/
nav#nav ul li.selected a{
	color:#00c9a1;}
/*轮播图*/
#iSlide{
	width:100%; height:160px; overflow:hidden; background:#fff; border-bottom:1px solid rgba(0,0,0,0.1); position:relative;}
#iSlide .iSlideBox{ position:absolute; left:-1125px; top:0; overflow:hidden; height:100%;}
#iSlide ul{
	height:100%; float:left; overflow:hidden;}
#iSlide ul li{
	float:left; overflow:hidden; height:100%;}
#iSlide ul li a{
	display:block; width:100%; height:100%; position:relative;}
#iSlide ul li a span{
	display:block; width:100%; height:34px; background:rgba(0,0,0,0.5); position:absolute; bottom:0; line-height:34px; color:#fff; text-decoration:none; text-indent:15px; font-size:15px;}
#iSlide ul li a img{
	display:block; width:100%;}

#iSlide .pageNumb{
	height:6px; width:45px; position:absolute; right:15px; bottom:14px;}
#iSlide .pageNumb span{
	width:6px; height:6px; border-radius:5px; background:rgba(255,255,255,0.3); z-index:101; float:left; margin-right:7px;}
#iSlide .pageNumb span.selected{
	background:#fff;}

/*大厅入口*/
.supplyProcurement,.classification{
	height:160px; background:#fff; margin-top:10px; border-bottom:1px solid rgba(0,0,0,0.1); border-top:1px solid rgba(0,0,0,0.1); position:relative;}
.supplyProcurement ul{
	width:100%; height:100%; overflow:hidden;}
.supplyProcurement ul li{
	width:50%; height:100%; float:left; overflow:hidden;}
.supplyProcurement ul li a{
	display:block; width:100%; height:100%; color:#8e8e93; text-align:center; font-size:16px;}
.supplyProcurement ul li a strong{font-family:"DINCond-Bold",Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif; font-size:26px; margin-right:4px;}
.supplyProcurement ul li img{
	width:90px; height:90px; display:block; margin:15px auto;}
.supplyProcurement .splitLine,.hotType .splitLine{
	position:absolute; width:1px; height:100%; left:50%; top:0; overflow:hidden; background:#e6e6e6;}


/*热卖种类*/
.hotType,.list{
	 background:#fff; margin-top:10px; border-top:1px solid rgba(0,0,0,0.1); position:relative; overflow:hidden;}
.hotType h3{
	height:40px; border-bottom:1px solid #e6e6e6;}
.hotType h3 span{ display:block; height:38px; border-bottom:2px solid #ff8b02; float:left; font-size:14px; color:#ff8b02; line-height:40px; overflow:hidden; margin-left:20px;}
.hotType ul{ width:100%;}
.hotType ul li{
	width:50%; float:left; height:90px; border-bottom:1px solid #e6e6e6; overflow:hidden;}
.hotType ul li a{
	display:block; width:100%; height:100%;}
.hotType ul li a dl{
	width:100%; height:100%; position:relative;}
.hotType ul li a dl dt{
	width:90px; height:90px; position:absolute; top:0; right:50%; margin-right:-10px;}
.hotType ul li a dl dt img{
	width:100%; height:100%;}
.hotType ul li a dl dd{
	height:46px; position:absolute; top:0; left:50%; margin-left:18px; padding-top:22px;}
.hotType ul li a dl dd h4{
	height:26px; line-height:26px; color:#00c9a1; font-size:16px;}
.hotType ul li a dl dd p{
	font-size:12px; color:#8e8e93; line-height:20px;}
.hotType .splitLine{
	top:40px;}

/*类别*/
.classification{ margin-top:0; border-top:0px; height:100px;}
.classification ul li{
	width:33%;}
.classification ul li img{width:44px; height:44px;}
.classification ul li a{ color:#00c9a1;}

/*列表*/
.list{
	}
.list li{
	background:#fff; border-bottom:1px solid #eee; padding:15px 0; height:62px; position:relative; width:100%;}
.list_img{
	width:60px; height:60px; border-radius:5px; border:1px solid #eee; overflow:hidden; position:absolute; left:15px; top:15px;}
.list_img img{
	width:100%; height:100%;}
.list li dl{ margin:0 110px 0 90px;}
.list li dl dt{ color:#00c9a1; font-size:16px; height:18px; overflow:hidden; line-height:18px;}
.list li dl dd.address{font-size:14px; color:#444a4d; line-height:30px; height:32px; overflow:hidden;}
.list li dl dd.address span{ margin-right:5px;}
.list li dl dd.time{ color:#8e8e93; font-size:14px; height:16px; line-height:16px; overflow:hidden;}
.list li dl dd.time span{ margin-right:3px;}
.list li .price{
	position:absolute; right:10px; top:31px; color:#444a4d; font-size:14px; line-height:30px;}
.list li .price strong{
	font-size:30px; color:#ff8b02; font-family:"DINCond-Bold",Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif; margin-right:2px; vertical-align:text-bottom;}

/*类别*/
.allClassification{position:relative;}
.allClassification ul{height:122px; overflow:hidden;}
.allClassification ul li{
	width:33%; height:60px; float:left; overflow:hidden; border-bottom:1px solid #eee; position:relative;}
.allClassification ul li a{
	display:block; width:100%; height:100%;}
.allClassification ul li img{
	position:absolute; right:50%; width:48px; height:48px; top:6px; margin-right:3px;}
.allClassification ul li span{
	display:block; height:60px; width:48px; overflow:hidden; line-height:60px; font-size:15px; color:#444a4d; position:absolute; left:50%;}
.allClassification .splitLine{
	height:100%;}
.arrowOpne{
	height:35px; text-align:center; margin-top:-1px; border-top:1px solid #eee; line-height:35px; font-size:14px; color:#444a4d; color:#00c9a1; clear:both;}
.arrowOpne img{ width:10px; height:6px; vertical-align:middle; margin-left:5px;}

.allClassification ul.heightAuto,.heightAuto{
	height:auto;}