<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crop.seagulls.dao.BannerDAO">
	
	<resultMap id="bannerMap" type="banner">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="link" column="link"/>
		<result property="imgUrl" column="img_url"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="seq" column="seq"/>
		<result property="isValid" column="is_valid"/>
		<result property="operatorId" column="operator_id"/>
	</resultMap>
	
	<sql id="base_columns">
		id, title, link, img_url, create_time, update_time, seq, is_valid, operator_id
	</sql>

	
	<select id="getList" parameterType="banner" resultMap="bannerMap">
		SELECT 
		<include refid="base_columns"/>
		FROM crop_banner
		WHERE is_valid = 1 ORDER BY seq DESC LIMIT #{sinceCount}, #{pageSize}
	</select>
	
	<select id="getListCount" resultType="int">
		SELECT COUNT(*)FROM crop_banner
		WHERE is_valid = 1
	</select>
	
	<select id="getAll" resultMap="bannerMap">
		SELECT 
		<include refid="base_columns"/>
		FROM crop_banner
		WHERE is_valid = 1 ORDER BY seq DESC
	</select>
	
	<select id="getById" resultMap="bannerMap">
		SELECT 
		<include refid="base_columns"/>
		FROM crop_banner
		WHERE id = #{id}
	</select>
	
	<update id="update" parameterType="banner">
		UPDATE crop_banner
		<set>
			update_time = NOW()
			,operator_id = #{operatorId}
			<if test="isValid != null">
				,is_valid = #{isValid}
			</if>
			<if test="title != null and title.length() > 0">
				,title = #{title}
			</if>
			<if test="link != null and link.length() > 0">
				,link = #{link}
			</if>
			<if test="imgUrl != null and imgUrl.length() > 0">
				,img_url = #{imgUrl}
			</if>
			<if test="seq != null">
				,seq = #{seq}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="save">
		INSERT INTO crop_banner(title, link, img_url, create_time, operator_id, seq, is_valid) 
		VALUES
		(#{title}, #{link}, #{imgUrl}, NOW(), #{operatorId}, #{seq}, #{isValid})
	</insert>
	
	<select id="getMaxSeq" resultType="int">
		SELECT MAX(seq) FROM crop_banner
	</select>
</mapper>
