<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crop.seagulls.dao.BuyDAO">

	<resultMap id="buyMap" type="buy">
		<result property="id" column="id" />
		<result property="categoryId1" column="category_id_1" />
		<result property="categoryId2" column="category_id_2" />
		<result property="categoryId3" column="category_id_3" />
		<result property="varietiesId" column="varieties_id" />
		<result property="title" column="title" />
		<result property="provinceId" column="province_id" />
		<result property="cityId" column="city_id" />
		<result property="areaId" column="area_id" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="quantity" column="quantity" />
		<result property="price" column="price" />
		<result property="unitId" column="unit_id" />
		<result property="note" column="note" />
		<result property="contactName" column="contact_name" />
		<result property="contactPhone" column="contact_phone" />
		<result property="companyId" column="company_id" />
		<result property="companyName" column="company_name" />
		<result property="isPublish" column="is_publish" />
		<result property="isValid" column="is_valid" />
		<result property="createTime" column="create_time" />
		<result property="createUserId" column="create_user_id" />
		<result property="updateTime" column="update_time" />
		<result property="auditTime" column="audit_time" />
		<result property="auditId" column="audit_id" />
		<result property="status" column="status" />
	</resultMap>

	<sql id="base_columns">
		id, category_id_1, category_id_2, category_id_3, varieties_id,
		title, province_id, city_id, area_id, start_time, end_time,
		quantity, price, unit_id, note, contact_name, contact_phone, company_id, company_name, is_publish, is_valid,
		create_time, create_user_id, update_time, audit_time, audit_id, status
	</sql>

	<insert id="save" parameterType="buy">
		INSERT INTO crop_buy
		(category_id_1
		<if test="categoryId2 != null and categoryId2 > 0">,category_id_2</if>
		<if test="categoryId3 != null and categoryId3 > 0">,category_id_3</if>
		<if test="varietiesId != null and varietiesId > 0">,varieties_id</if>
		<if test="title != null and title != '' ">,title</if>
		<if test="provinceId != null and provinceId > 0">,province_id</if>
		<if test="cityId != null and cityId > 0">,city_id</if>
		<if test="areaId != null and areaId > 0">,area_id</if>
		<if test="startTime != null and startTime !='' ">,start_time</if>
		<if test="endTime != null and endTime !='' ">,end_time</if>
		<if test="quantity != null and quantity > 0">,quantity</if>
		<if test="price != null and price > 0">,price</if>
		<if test="unitId != null and unitId > 0">,unit_id</if>
		<if test="note != null and note !='' ">,note</if>
		<if test="contactName != null and contactName !='' ">,contact_name</if>
		<if test="contactPhone != null and contactPhone !='' ">,contact_phone</if>
		<if test="companyId != null and companyId > 0 ">,company_id</if>
		<if test="companyName != null and companyName !='' ">,company_name</if>
		,create_time
		<if test="createUserId != null and createUserId > 0">,create_user_id</if>
		<if test="status != null and status > 0">,status</if>
		)
		VALUES 
		(#{categoryId1}
		<if test="categoryId2 != null and categoryId2 > 0">,#{categoryId2}</if>
		<if test="categoryId3 != null and categoryId3 > 0">,#{categoryId3}</if>
		<if test="varietiesId != null and varietiesId > 0">,#{varietiesId}</if>
		<if test="title != null and title != '' ">,#{title}</if>
		<if test="provinceId != null and provinceId > 0">,#{provinceId}</if>
		<if test="cityId != null and cityId > 0">,#{cityId}</if>
		<if test="areaId != null and areaId > 0">,#{areaId}</if>
		<if test="startTime != null and startTime !='' ">,#{startTime}</if>
		<if test="endTime != null and endTime !='' ">,#{endTime}</if>
		<if test="quantity != null and quantity > 0">,#{quantity}</if>
		<if test="price != null and price > 0">,#{price}</if>
		<if test="unitId != null and unitId > 0">,#{unitId}</if>
		<if test="note != null and note !='' ">,#{note}</if>
		<if test="contactName != null and contactName !='' ">,#{contactName}</if>
		<if test="contactPhone != null and contactPhone !='' ">,#{contactPhone}</if>
		<if test="companyId != null and companyId > 0 ">,#{companyId}</if>
		<if test="companyName != null and companyName !='' ">,#{companyName}</if>
		,#{createTime}
		<if test="createUserId != null and createUserId > 0">,#{createUserId}</if>
		<if test="status != null and status > 0">,#{status}</if>
		)
		<selectKey resultType="Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<select id="getList" parameterType="buy" resultMap="buyMap">
		SELECT <include refid="base_columns"/> FROM crop_buy
		<where>
			<if test="categoryId1 != null and categoryId1 > 0">
				AND category_id_1 = #{categoryId1}
			</if>
			<if test="categoryId2 != null and categoryId2 > 0">
				AND category_id_2 = #{categoryId2}
			</if>
			<if test="categoryId3 != null and categoryId3 > 0">
				AND category_id_3 = #{categoryId3}
			</if>
			<if test="provinceId != null and provinceId > 0">
				AND province_id = #{provinceId}
			</if>
			<if test="price != null and price > 0">
				AND price >= #{price}
			</if>
			<if test="startTime != null and startTime > 0">
				AND start_time = #{startTime}
			</if>
			<if test="endTime != null and endTime > 0">
				AND end_time = #{endTime}
			</if>
			<if test="isPublish != null and isPublish >= 0">
				AND is_publish = #{isPublish}
			</if>
			<if test="isValid != null and isValid >= 0">
				AND is_valid = #{isValid}
			</if>
			<if test="createUserId != null and createUserId > 0">
				AND create_user_id = #{createUserId}
			</if>
			<if test="searchExceptStatus != null">
				AND status &lt;&gt; #{searchExceptStatus}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
		ORDER BY update_time DESC LIMIT #{sinceCount}, #{pageSize} 
	</select>
	
	<select id="getListCount" parameterType="buy" resultType="int">
		SELECT COUNT(*) FROM crop_buy
		<where>
			<if test="categoryId1 != null and categoryId1 > 0">
				AND category_id_1 = #{categoryId1}
			</if>
			<if test="categoryId2 != null and categoryId2 > 0">
				AND category_id_2 = #{categoryId2}
			</if>
			<if test="categoryId3 != null and categoryId3 > 0">
				AND category_id_3 = #{categoryId3}
			</if>
			<if test="provinceId != null and provinceId > 0">
				AND province_id = #{provinceId}
			</if>
			<if test="price != null and price > 0">
				AND price >= #{price}
			</if>
			<if test="startTime != null and startTime > 0">
				AND start_time = #{startTime}
			</if>
			<if test="endTime != null and endTime > 0">
				AND end_time = #{endTime}
			</if>
			<if test="isPublish != null and isPublish >= 0">
				AND is_publish = #{isPublish}
			</if>
			<if test="isValid != null and isValid >= 0">
				AND is_valid = #{isValid}
			</if>
			<if test="createUserId != null and createUserId > 0">
				AND create_user_id = #{createUserId}
			</if>
			<if test="searchExceptStatus != null">
				AND status &lt;&gt; #{searchExceptStatus}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
	</select>
	
	<select id="getAllProvinces" parameterType="buy" resultType="long">
		SELECT DISTINCT(province_id) FROM crop_buy
		<where>
			<if test="categoryId1 != null and categoryId1 > 0">
				AND category_id_1 = #{categoryId1}
			</if>
			<if test="categoryId2 != null and categoryId2 > 0">
				AND category_id_2 = #{categoryId2}
			</if>
			<if test="categoryId3 != null and categoryId3 > 0">
				AND category_id_3 = #{categoryId3}
			</if>
			<if test="price != null and price > 0">
				AND price >= #{price}
			</if>
			AND status = 1
		</where>
	</select>
	
	<select id="getById" parameterType="long" resultMap="buyMap">
		SELECT <include refid="base_columns"/> FROM crop_buy WHERE id = #{id}
	</select>
</mapper>
