<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crop.seagulls.dao.DictAreaDAO">

	<resultMap id="dictAreaMap" type="area">
		<result property="id" column="id" />
		<result property="parentId" column="p_id" />
		<result property="enName" column="en_name" />
		<result property="zhName" column="zh_name" />
		<result property="firstLetter" column="first_letter" />
	</resultMap>

	<sql id="base_columns">id, p_id, en_name, zh_name, first_letter</sql>
	<select id="getList" resultMap="dictAreaMap">
		SELECT
		<include refid="base_columns" />
		FROM crop_dict_area
	</select>

	<select id="getByPId" parameterType="long"
		resultMap="dictAreaMap">
		SELECT
		<include refid="base_columns" />
		FROM crop_dict_area WHERE p_id = #{pId}
	</select>

	<insert id="insert" parameterType="area">
		INSERT INTO crop_dict_area (p_id, zh_name, en_name, first_letter) VALUES
		(#{pId},#{zhName}, #{enName}, #{firstLetter})
		<selectKey resultType="Long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>

	<update id="update" parameterType="area">
		UPDATE crop_dict_area
		<set>
			<if test="zhName != null">zh_name=#{zhName},</if>
			<if test="enName != null">en_name=#{enName},</if>
			<if test="firstLetter != null">first_letter=#{firstLetter},</if>
		</set>
		WHERE id=#{id}
	</update>

	<delete id="deleteById" parameterType="long">
		DELETE FROM crop_dict_area WHERE id = #{id}
	</delete>
	
	<select id="getByArea" parameterType="area" resultMap="dictAreaMap">
		SELECT * FROM crop_dict_area 
		<where>
			<if test="parentId != null and parentId > 0">
				AND p_id = #{parentId}
			</if>
		</where>
		LIMIT #{sinceCount}, #{pageSize}
	</select>
	
	<select id="getByAreaCount" parameterType="area" resultType="int">
		SELECT COUNT(*) FROM crop_dict_area
		<where>
			<if test="parentId != null and parentId > 0">
				AND p_id = #{parentId}
			</if>
		</where>
	</select>

</mapper>
