<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crop.seagulls.dao.OrderDAO">

	<resultMap id="orderMap" type="payOrder">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="payType" column="pay_type" />
		<result property="innerOrderId" column="inner_order_id" />
		<result property="status" column="status" />
		<result property="price" column="price" />
		<result property="ip" column="ip" />
		<result property="metaIndex1" column="meta_index_1" />
		<result property="metaIndex2" column="meta_index_2" />
		<result property="metaIndex3" column="meta_index_3" />
		<result property="metaIndex4" column="meta_index_4" />
		<result property="metaIndex5" column="meta_index_5" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="base_columns">id, user_id, pay_type, inner_order_id, status, price, ip, meta_index_1, meta_index_2, meta_index_3, meta_index_4, meta_index_5</sql>
	
	<insert id="save" parameterType="payOrder">
		INSERT INTO crop_order
		<set>
			id = #{id},
			update_time = NOW(),
			pay_type = #{payType},
			user_id = #{userId},
			inner_order_id = #{innerOrderId},
			ip = #{ip}
			<if test="metaIndex1 != null">
				, meta_index_1 = #{metaIndex1}
			</if>
			<if test="metaIndex2 != null">
				, meta_index_2 = #{metaIndex2}
			</if>
			<if test="metaIndex3 != null">
				, meta_index_3 = #{metaIndex3}
			</if>
			<if test="metaIndex4 != null">
				, meta_index_4 = #{metaIndex4}
			</if>
			<if test="metaIndex5 != null">
				, meta_index_5 = #{metaIndex5}
			</if>
		</set>
	</insert>
	<update id="update" parameterType="payOrder">
		UPDATE crop_order
		<set>
			update_time = NOW()
			<if test="metaIndex1 != null">
				, meta_index_1 = #{metaIndex1}
			</if>
			<if test="metaIndex2 != null">
				, meta_index_2 = #{metaIndex2}
			</if>
			<if test="metaIndex3 != null">
				, meta_index_3 = #{metaIndex3}
			</if>
			<if test="metaIndex4 != null">
				, meta_index_4 = #{metaIndex4}
			</if>
			<if test="metaIndex5 != null">
				, meta_index_5 = #{metaIndex5}
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>
