<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crop.seagulls.dao.UserAuthDAO">

	<resultMap id="userAuthMap" type="userAuth">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="realName" column="real_name" />
		<result property="idCardNum" column="id_card_num" />
		<result property="imgFront" column="img_front" />
		<result property="imgBackground" column="img_background" />
		<result property="imgPerson" column="img_person" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="auditId" column="audit_id" />
		<result property="auditTime" column="audit_time" />
	</resultMap>

	<select id="getById" parameterType="long"
		resultMap="userAuthMap">
		SELECT * FROM crop_user_auth WHERE id = #{id}
	</select>
	
	<select id="getList" parameterType="userAuth"
		resultMap="userAuthMap">
		SELECT * FROM crop_user_auth
		<where>
			<if test="userId != null and userId > 0 ">
				AND user_id = #{userId}
			</if>
			<if test="status != null">AND status = #{status}</if>
		</where>
		ORDER BY update_time DESC
	</select>

	<select id="getListCount" parameterType="userAuth"
		resultType="int">
		SELECT COUNT(*) FROM crop_user_auth
		<where>
			<if test="userId != null and userId > 0 ">
				AND user_id = #{userId}
			</if>
			<if test="status != null">AND status = #{status}</if>
		</where>
	</select>

	<insert id="save" parameterType="userAuth">
		INSERT INTO crop_user_auth SET
		update_time = NOW(),create_time = NOW()
		<if test="realName != null and realName.length() > 0">
			,real_name = #{realName}
		</if>
		<if test="idCardNum != null and idCardNum.length() > 0">
			,id_card_num = #{idCardNum}
		</if>
		<if test="imgFront != null and imgFront.length() > 0">
			,img_front = #{imgFront}
		</if>
		<if test="imgBackground != null and imgBackground.length() > 0">
			,img_background = #{imgBackground}
		</if>
		<if test="imgPerson != null and imgPerson.length() > 0">
			,img_person = #{imgPerson}
		</if>
		<if test="userId != null and userId > 0">
			,user_id = #{userId}
		</if>
		<if test="status != null ">
			,status = #{status}
		</if>
		<if test="auditId != null and auditId > 0">
			,audit_id = #{auditId}
			, audit_time = NOW()
		</if>
		<if test="id != null and id > 0">
			,id = #{id}
		</if>
	</insert>
	
	<update id="update" parameterType="userAuth">
		UPDATE crop_user_auth SET
		update_time = NOW()
		<if test="realName != null and realName.length() > 0">
			,real_name = #{realName}
		</if>
		<if test="idCardNum != null and idCardNum.length() > 0">
			,id_card_num = #{idCardNum}
		</if>
		<if test="imgFront != null and imgFront.length() > 0">
			,img_front = #{imgFront}
		</if>
		<if test="imgBackground != null and imgBackground.length() > 0">
			,img_background = #{imgBackground}
		</if>
		<if test="imgPerson != null and imgPerson.length() > 0">
			,img_person = #{imgPerson}
		</if>
		<if test="status != null ">
			,status = #{status}
		</if>
		<if test="auditId != null and auditId > 0">
			,audit_id = #{auditId}
			, audit_time = NOW()
		</if>
		<where>
			<if test="id != null and id > 0">
				AND id = #{id}
			</if>
			<if test="userId != null and userId > 0">
				AND user_id = #{userId}
			</if>
		</where>
	</update>
	
	<update id="batchUpdate">
		UPDATE crop_user_auth SET
		update_time = NOW()
		<if test="auth.realName != null and auth.realName.length() > 0">
			,real_name = #{auth.realName}
		</if>
		<if test="auth.idCardNum != null and auth.idCardNum.length() > 0">
			,id_card_num = #{auth.idCardNum}
		</if>
		<if test="auth.imgFront != null and auth.imgFront.length() > 0">
			,img_front = #{auth.imgFront}
		</if>
		<if test="auth.imgBackground != null and auth.imgBackground.length() > 0">
			,img_background = #{auth.imgBackground}
		</if>
		<if test="auth.imgPerson != null and auth.imgPerson.length() > 0">
			,img_person = #{auth.imgPerson}
		</if>
		<if test="auth.status != null ">
			,status = #{auth.status}
		</if>
		<if test="auth.auditId != null and auth.auditId > 0">
			,audit_id = #{auth.auditId}
			, audit_time = NOW()
		</if>
		WHERE id IN 
		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</update>
</mapper>
